* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 51px;
  background: rgb(33, 33, 33);
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 13px 70px;
}
.menu .menu_items {
  border-right: 2px #0f0e0e dotted;
  padding-right: 1.5vw;
  height: 30px;
}
.menu .menu_items:last-child {
  border-right: none;
}
.menu .menu_items .menu_link {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.subheader {
  position: absolute;
  margin-top: 3.8svh;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  font-size: 26px;
  margin-top: 1svh;
}
.subheader .subheader_logo img {
  margin: 0 0.5svw 1svh 0;
}
.subheader .subheader_official {
  margin-top: 0.1svh;
  font-size: 1rem;
  opacity: 0.5;
}
.subheader .subheader_call {
  margin-top: 1svh;
  font-family: Roboto-Regular;
  font-size: 1rem;
}
.subheader .subheader_phone {
  font-family: Roboto-Light;
  font-size: 1.5rem;
}
.subheader .subheader_btn {
  margin-top: 1svh;
  width: 182px;
  height: 56px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  background-color: rgb(71, 221, 249);
  border-radius: 0.5svh;
  font-family: Roboto-Regular;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  color: rgb(255, 255, 255);
  min-height: 800px;
  background: url("../img/img_main.png") center center/cover no-repeat;
  width: 100%;
  padding: 150px 0 135px 0;
  text-align: center;
}
.promo_header {
  font-size: 60px;
}
.promo_subheader {
  font-size: 36px;
}
.promo_descr {
  font-size: 18px;
}
.promo_btn {
  margin-top: 6svh;
  width: 182px;
  height: 56px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  background-color: rgb(71, 221, 249);
  border-radius: 0.5svh;
  font-family: Roboto-Regular;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  color: black;
  text-align: center;
}
.reasons_btn {
  width: 112px;
  height: 24px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 11px;
  margin: 71px 0 38px 0;
}
.reasons_title {
  color: rgb(34, 34, 34);
  font-family: Roboto-Bold;
  font-size: 38px;
}
.reasons_block {
  margin: 40px 0 35px 0;
  text-align: justify;
  gap: 1svw;
}
.reasons_block .reasons_round {
  background-color: #1EACC7;
  border-radius: 100%;
  width: 113px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.reasons_block .reasons_descr .reasons_subtitle {
  font-size: 17px;
  color: #1EACC7;
}
.reasons_block .reasons_descr .reasons_text {
  font-size: 15px;
}

.mob_app {
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
  text-align: center;
}
.mob_app .mob_btn {
  width: 112px;
  height: 24px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 11px;
  margin: 71px 0 38px 0;
}
.mob_app .mob_title {
  color: rgb(34, 34, 34);
  font-family: Roboto-Bold;
  font-size: 38px;
}
.mob_app .mob_title span {
  font-size: 17px;
  font-family: Roboto-Regular;
  font-size: 17px;
  font-weight: 400;
}
.mob_app .mob_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mob_app .mob_block img {
  margin: 19px 0 19px 0;
}
.mob_app .mob_block .mob_content {
  position: absolute;
}
.mob_app .mob_block .mob_content .mob_descr {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 278.67px;
  margin: 31px 0 25px 0;
  color: rgb(255, 255, 255);
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 400;
}
.mob_app .mob_block .mob_content .mob_plus {
  margin: 0 auto;
  margin-top: 80px;
  font-size: 20px;
  color: #1EACC7;
  background-color: #000000;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.mob_app .mob_block .mob_content .mob_plus::before, .mob_app .mob_block .mob_content .mob_plus::after {
  content: "";
  position: absolute;
  background-color: #1EACC7;
  left: 50%;
  top: 92.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mob_app .mob_block .mob_content .mob_plus::before {
  width: 14px;
  height: 2px;
}
.mob_app .mob_block .mob_content .mob_plus::after {
  width: 2px;
  height: 14px;
}
.mob_app .mob_block .mob_content .mob_plus::after:hover:before, .mob_app .mob_block .mob_content .mob_plus::after:hover::after {
  background-color: #ff5656;
}

.choice {
  position: relative;
  background: url("../img/bg_choice_car.png") center center/cover no-repeat;
  height: 551px;
  text-align: center;
}
.choice_btn {
  width: 112px;
  height: 24px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 11px;
  margin: 71px 0 38px 0;
  background: #fff;
  color: #232222;
}
.choice_title {
  color: rgb(34, 34, 34);
  font-family: Roboto-Bold;
  font-size: 38px;
  font-family: Roboto-Bold;
  font-size: 38px;
  color: #fff;
}
.choice_title span {
  display: block;
  font-size: 17px;
  font-family: Roboto-Regular;
  margin-bottom: 56px;
}
.choice_car {
  -webkit-transform: translate(0%, 45%);
          transform: translate(0%, 45%);
}

.carsharing {
  text-align: center;
  height: 397px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.carsharing h4 {
  color: rgb(34, 34, 34);
  font-family: Segoe UI;
  font-size: 17px;
  font-weight: 400;
  padding: 217px 0 138px 0;
}

.terms_Conditions {
  text-align: center;
}
.terms_Conditions_btn {
  width: 112px;
  height: 24px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 11px;
  margin: 71px 0 38px 0;
}
.terms_Conditions_title {
  color: rgb(34, 34, 34);
  font-family: Roboto-Bold;
  font-size: 38px;
  margin-bottom: 2svh;
}
.terms_Conditions_text {
  text-align: justify;
  color: #1CA8C3;
}
.terms_Conditions_text h3 {
  font-size: 22px;
}
.terms_Conditions_text ul {
  list-style-type: none;
}
.terms_Conditions_text ul li {
  font-size: 17px;
  color: #222222;
  line-height: 2.5lvh;
}
.terms_Conditions_text ul li .icon_blue, .terms_Conditions_text ul li .icon_red {
  display: inline-block;
  height: 21px;
  width: 30px;
}
.terms_Conditions_text ul li span {
  color: #3ab4cb;
}
.terms_Conditions_text_blue .icon_blue {
  background: url("../img/check-icon-blue.png") no-repeat;
}
.terms_Conditions_text_red .icon_red {
  background: url("../img/check-icon-red.png") no-repeat;
}

.map {
  position: relative;
  height: 717px;
  background: #080810;
  text-align: center;
}
.map .map_block {
  background: url("../img/map_info_world.png");
  height: 717px;
}
.map .map_block img {
  position: absolute;
  height: 717px;
}
.map .map_block .map_btn {
  width: 112px;
  height: 24px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 11px;
  margin: 71px 0 38px 0;
  background: #fff;
  color: #232222;
}
.map .map_block .map_title {
  color: rgb(34, 34, 34);
  font-family: Roboto-Bold;
  font-size: 38px;
  font-family: Roboto-Bold;
  font-size: 38px;
  color: #fff;
}
.map .map_block .map_title span {
  font-family: Roboto-Regular;
  font-size: 17px;
  font-weight: 400;
}
.map .map_block .btn {
  margin: 454px 0 49px 0;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  color: rgb(31, 186, 214);
  font-family: Roboto-Regular;
  font-size: 15px;
  font-weight: 400;
}

.finish {
  text-align: center;
}
.finish_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  margin: 51px 0 73px 23px;
}
.finish_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #000000;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.finish_social i {
  display: block;
  padding: 7px 11px 7px 12px;
}
.finish_line {
  background-color: rgb(31, 186, 214);
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 32px;
  height: 4px;
  width: 299px;
}
.finish_text_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.finish_text_main a {
  color: rgb(7, 7, 22) !important;
  font-family: Roboto-Light;
  font-size: 15px;
  font-weight: 400;
}
.finish_text_semiMain {
  margin: 27px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.finish_text_semiMain a {
  color: rgb(153, 153, 153);
  font-family: Roboto-Light;
  font-size: 11px;
  font-weight: 400;
}
.finish_text_lastMain a {
  color: rgb(31, 186, 214);
  font-family: Roboto-Regular;
  font-size: 11px;
  font-weight: 400;
}
.finish_app_store {
  margin: 51px 0 73px 23px;
}

@media (max-width: 768px) {
  nav {
    position: inherit;
  }
  .choice_car img {
    width: 559px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}